* {
    color: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    font-family: "proxima-nova", sans-serif, "Apple Color Emoji";
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    align-content: center;
}

.hidden {
    opacity: 0;
}

.song-title {
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 0px;
}

.spotify-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
}

#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -9999;
    background: black;
}
#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    -webkit-filter: blur(50px);
    -moz-filter: blur(50px);
    -o-filter: blur(50px);
    -ms-filter: blur(50px);
    filter: blur(50px);
    opacity: 0.35;
}

.album-art-container {
    margin: 1rem 0;
    position: relative;
}

.album-art-container .svg-pictogram--pause {
    transition: .5s ease-in-out;
    position: absolute;
    z-index: 9;
    width: 100px;
    left: 50%;
    height: 100px;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    fill: rgba(255,255,255,0.8);
}

.album-art {
    border-radius: 12px;
    box-shadow: 0px 0px 48px -3px rgba(0,0,0,0.27);
    width: 450px;
    height: 450px;
    transition: .5s ease-in-out;
    /** animation:spin 12s linear infinite;
        border-radius: 50%;**/
}

.stopped .album-art {
    transform: scale(.95);
    position: relative;
}

.stopped {
    position: relative;
}

.stopped .album-art-container .svg-pictogram--pause {
    opacity: 1;
}

.album-art-container:after {
    border-radius: 12px;
    background: rgba(0,0,0,0);
    transform: scale(1);
    transition: .5s ease-in-out;

    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: calc(100% - 4.5px);
    top: 0;
    left: 0;
}

.stopped .album-art-container:after {

    transform: scale(.95);
    background: rgba(0,0,0,.5);
}

.progress-bar-container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #404040;
}

.progress-bar {
    /** transition: width 1.5s; **/
    background: #31CD64;
    height: 5px;
    position: relative;
}

.progress-bar__seeker:after {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    content: "";
    position: absolute;
    display: block;
    right: 0;
    transform: translateX(50%) translateY(-25%);
}

.total-time {
    position: absolute;
    top: 20px;
    right: 20px;
}

.current-time {
    position: absolute;
    top: 20px;
    left: 20px;
}

.main-title {
    font-weight: 600;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }